include .gitattributes
include .github/workflows/ci.yml
include .github/workflows/publish.yml
include .gitignore
include .gitmodules
include CMakeLists.txt
include DEVGUIDE.md
include LICENSE
include README.md
include bindings/screamer_bindings.cpp
include examples/lag_example.py
include include/screamer/indicators/lag.h
include poetry.lock
include pyproject.toml
include screamer/__init__.py
include screamer/generators.py
include setup.py
include src/screamer/indicators/lag.cpp
include tests/test_lag.cpp
include tests/test_lag.py
exclude MANIFEST.in